<%# locals: (review:) %>
<%= form_with(model: review, class: "contents") do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label "Select the book you are reviewing" %>
    <%= form.collection_select :book_id, Book.all, :id, :title %>
  </div>

  <div class="my-5">
    <%= form.label "Title" %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="my-5">
    <%= form.label :star_rating %>
    <%= form.select :rating, [1, 2, 3, 4, 5] %>
  </div>

  <div class="my-5">
    <%= form.label :your_review %>
    <%= form.text_area :content, class: "w-full h-32" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-green-700 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
